* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    justify-content: center;
}

.text {
    position: absolute;
    top: 15%;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: sans-serif;
    font-size: 20px;
    background-color: grey;
    height: 200px;
    width: 600px;
    text-align: center;
}

.text button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: grey;
}
.text button:hover{
    color: #000000;
    background-color:#FFFFFF;
}

.shlurm {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    z-index: 3;
    width: 25%;
}

@media all and (max-width: 500px) {
    h2 { 
        font-size: 17px;
    }

    .shlurm{
        margin-top: 160px;
        width: 80%;
        padding-left: 6em;
    }

    .text {
        margin-top: 10%;
        padding-left: 6em;
    }
}